* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(229, 233, 234);
    margin: 100px;
    font-size: 2rem;
}
.inputs, .outputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
label {
    font-weight: bold;
    padding-bottom: 10px;
    color: navy;

}
input , textarea , button{
    padding: 20px;
    border: none;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid navy;
}
::placeholder , button{
    font-size: 1.2rem;
    color: navy;

}
button {
    background-color: navy;
    color: white;
    align-self: flex-start;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
}

.outputs p.feelings {
    margin-top: 20px;
}